[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pdbpp = "*"
isort = "*"

[packages]
requests = "*"
rq = "*"
redis = "*"
click = "*"
structlog = "*"
colorama = "*"
kubernetes = "*"
pyyaml = "*"
tinydb = "*"

[requires]
python_version = "3.7"
